@import "variables.css";

@font-face {
    font-family: 'Roboto-Light';
    src: url('../assets/fonts/static/Roboto-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/static/Roboto-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/static/Roboto-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: RobotoFlex-VariableFont;
    src: url('../assets/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
    font-weight: 100 1000;
    font-stretch: 25% 150%;
    font-display: swap;
}
