@media only screen and (width < 900px) {
    body {
        font-size: 0.9rem;
    }

    img {
        max-height: 450px;
    }

    .h1 {
        font-size: var(--large-m);
    }

    .col-gap-xxl {
        column-gap: 35px;
    }

    .col-gap-m {
        column-gap: 12px;
    }

    .row-gap-xl {
        row-gap: 25px;
    }

    .row-gap-m {
        row-gap: 10px;
    }

    .pl {
        padding-left: 15px;
    }

    .li-icon {
        width: 18px;
        height: 18px;
    }

    .pxy-xxl {
        padding: 45px;
    }

    .row-gap-l {
        row-gap: 25px;
    }

    .width-m {
        width: 400px;
    }
}

@media only screen and (width < 800px) {
    body {
        font-size: 0.8rem;
    }

    img {
        max-height: 400px;
    }

    .h1 {
        font-size: var(--large-s);
    }

    .col-gap-xxl {
        column-gap: 32px;
    }

    .col-gap-m {
        column-gap: 8px;
    }

    .row-gap-xl {
        row-gap: 22px;
    }

    .row-gap-m {
        row-gap: 8px;
    }

    .pl {
        padding-left: 10px;
    }

    .li-icon {
        width: 14px;
        height: 14px;
    }

    .form__input, .form__label, .form__input--valid {
        font-size: 0.8rem;
    }

    .pxy-s {
        padding: 13px;
    }

    .btn {
        font-size: 0.8rem;
    }

    .pxy-xxl {
        padding: 40px;
    }

    .row-gap-l {
        row-gap: 20px;
    }

    .width-m {
        width: 375px;
    }
}

@media only screen and (width < 700px) {
    body {
        font-size: 0.9rem;
        padding: 30px;
    }

    img {
        max-height: 300px;
    }

    .grid--template-areas-a-b {
        grid-template-areas: "B" "A";
        row-gap: 20px;
    }

    .grid__item-a {
        justify-self: center;
    }

    .flexbox {
        row-gap: 18px;
    }

    .h1 {
        font-size: var(--large-m);
    }

    .li-icon {
        width: 18px;
        height: 18px;
    }

    .form__label {
        margin-top: 10px;
    }

    .form__input, .form__label, .form__input--valid {
        font-size: 0.9rem;
    }

    .pxy-s {
        padding: 16px;
    }

    .btn {
        font-size: 0.9rem;
    }
}

@media only screen and (width < 500px) {
    body {
        font-size: 1rem;
        padding: 0;
    }

    img {
        width: 100vw;
    }

    .grid--template-areas-a-b {
        grid-template-areas: "B" "A";
        row-gap: 25px;
        padding: 0 0 4rem 0;
        width: 100vw;
        border-radius: 0;
    }

    .grid__item-a {
        justify-self: center;
    }

    .flexbox {
        row-gap: 23px;
    }

    .h1 {
        font-size: var(--large-m);
    }

    .li-icon {
        width: 18px;
        height: 18px;
    }

    .form__label {
        margin-top: 15px;
    }

    .form__input, .form__label, .form__input--valid {
        font-size: 1rem;
    }

    .pxy-s {
        padding: 22px;
    }

    .btn {
        font-size: 1rem;
    }
}

@media only screen and (width < 376px) {
    body {
        font-size: 1rem;
    }

    li p {
        max-width: 70vw;
    }

    .flexbox {
        row-gap: 22px;
    }

    .h1 {
        font-size: var(--large-m);
    }

    .li-icon {
        width: 18px;
        height: 18px;
    }

    .form__label {
        margin-top: 15px;
    }

    .form__input, .form__label, .form__input--valid {
        font-size: 1rem;
    }

    .success-container {
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    .pxy-s {
        padding: 15px;
    }

    .btn {
        font-size: 1rem;
    }
}

@media only screen and (width < 321px) {
    body {
        font-size: 0.8rem;
    }

    li p {
        max-width: 70vw;
    }

    .flexbox {
        row-gap: 22px;
    }

    .h1 {
        font-size: var(--large-s);
    }

    .li-icon {
        width: 18px;
        height: 18px;
    }

    .form__label {
        margin-top: 15px;
    }

    .form__input, .form__label, .form__input--valid {
        font-size: 1rem;
    }

    .success-container {
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    .success-container {
        row-gap: 40px;
    }

    .pxy-s {
        padding: 15px;
    }

    .btn {
        font-size: 1rem;
    }

    .mt-s {
        margin-top: 0;
    }
}
