@import "css/reset.css";
@import "css/fonts.css";
@import "css/variables.css";

* { box-sizing: border-box }

body {
    display: inline-grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--smooth-purplish);
    font-family: var(--dynamic-font), var(--fallback-font);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: var(--large);
    /*font-weight: var(--bold);*/
    color: var(--dark-purplish);
    font-weight: 700;
}

li {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

form {
    display: inherit;
    flex-direction: column;
    row-gap: 1rem;
}

label {
    font-size: var(--tiny);
    font-weight: var(--heavy);
    color: var(--dark-purplish);
}

input, button {
    border: 0.14rem ridge;
    font-size: var(--tiny);
    border-radius: 10px;
    padding: 1rem;
}

input:valid {
    border: 0.14rem ridge var(--valid);
}

/*input:invalid {*/
/*    border: 0.14vw ridge var(--invalid);*/
/*}*/

button {
    border: 0.14rem solid transparent;
    background-color: var(--dark-purplish);
    color: var(--snow-white);
    font-weight: var(--heavy);
    margin-top: 0.6em;
}

button:hover {
    cursor: pointer;
    background-color: hsla(230.5, 70%, 10%, 0.65);
}

.appear-animation {
    opacity: 0;
}

.appear-animation.appear {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.loader {
    border: 15px solid #EAF0F6;
    border-radius: 50%;
    border-top: 15px solid #FF7A59;
    width: 100px;
    height: 100px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.grid-container {
    display: grid;
    grid-template-areas: "A B";
    column-gap: 3rem;
    background-color: var(--snow-white);
    padding: 1.6rem;
    border-radius: 30px;
}

.img-container {
    grid-area: B;
}

.text-container {
    display: flex;
    flex-direction: column;
    grid-area: A;
    align-self: center;
    padding-left: 2rem;
    height: 80%;
    row-gap: 2.5rem;
}

.info-container {
    display: inherit;
    flex-direction: inherit;
    row-gap: 2rem;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--snow-white);
    padding: 4em;
    border-radius: 30px;
    row-gap: 2em;
}

.flexbox-container img {
    max-width: 55px;
}

.flexbox-container p {
    line-height: 1.5;
}


/*925x655*/
/*before you proceed, try to use grid on the text-container and change font-size in browser*/

/*.logo {*/
/*    height: 6em;*/
/*    padding: 1.5em;*/
/*    will-change: filter;*/
/*    transition: filter 300ms;*/
/*}*/

/*.logo:hover {*/
/*    filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/

/*.logo.vanilla:hover {*/
/*    filter: drop-shadow(0 0 2em #f7df1eaa);*/
/*}*/


/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/
